: :root {
    --main-color: black;
    --secondary-color: Red;
}

header{
    color: crimson;
    background-color: black;
    height:max-content;
    display: flex;
    justify-content: center;

}




button{
    color: orangered;
    font-weight: bolder;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    border-color: rgba(233, 191, 6, 0.795);
    border-radius: 12px;

}


footer{
    background-color: black;
    width:100%;
    display: flex;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    border-top: 5px solid rgb(163, 27, 27);
    
}

img{
    height: fit-content;
    width: 100%;
    
    
}

section{
    border-bottom:5px solid red;
   
}


table{
   
    padding: 1em;

    
}

th{
    border: 5px solid white; 
    
}
 td{
    border: 5px solid rgb(206, 11, 11);
    

 }
.sm{
    height: 2em;;
    width: 100%;
    align-content: center;
    
}
.spacer{
    height: 1070px;

}



.sdk{
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 5px solid red;
    color: white;
}

#display-data{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
   

}


#crud-form{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    height: 2em;
}

@media screen(max-widht: 600px) {
    .overall{
        
        width: fit-content;
        display: flex;
        
        
    }
    
    .sdk{
        width:fit-content;
        margin-bottom: 2em;
        height: auto;
    }

    footer{
        height: auto;
    }

}